*{
  font-family: 'Luckiest Guy', cursive;
}

body{
  margin:0;
  padding: 5px;
  background-color: rgb(255, 225, 205);
}

//TOP CONTAINER
   
.top-container {
    margin: 20px auto;
    width: 25%;
    display: flex;

    .main-logo-text {
      margin: 0 auto;
      align-self: center;
      color: red;
  }

  img{
    margin: 0 auto;
    width: 100px;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
  }

  nav {
    ul{
      li{
        list-style-type: none;
        margin: 5px auto;
        background: rgb(77, 73, 73);
        text-align: center;
        border-radius: 7px;
        padding:5px;

        a{
          transition: all 0.2s ease-in-out;
          letter-spacing: 1px;
          text-decoration: none;
          color: red;

          &:hover {
            color: yellow;
          }
        }
      }
    }
  }
}

